[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/mustache.vim"]
	path = vim/vim.symlink/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-less"]
	path = vim/vim.symlink/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/vim.symlink/bundle/vim-literate-coffeescript"]
	path = vim/vim.symlink/bundle/vim-literate-coffeescript
	url = https://github.com/mintplant/vim-literate-coffeescript.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-sensible"]
	path = vim/vim.symlink/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
