add_newline = false

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$character
"""

[directory]
truncate_to_repo = false
style = "blue"

[git_branch]
symbol = " "
style = "green"

[git_status]
style = "yellow"

[character]
success_symbol = "❯ "
error_symbol = "❯ "

