* {
  font-family: "MesloLGLDZ Nerd Font Mono", sans-serif;
  font-size: 14px;
}

window {
  margin: 0;
  border: 1px solid #93a1a1;
  border-radius: 0;
  background-color: #eee8d5;
  color: #657b83;
}

#input {
  margin: 10px;
  padding: 8px;
  border: 1px solid #93a1a1;
  border-radius: 0;
  background-color: #fdf6e3;
  color: #002b36;
}

#inner-box {
  margin: 0 10px 10px;
}

#entry {
  padding: 8px;
  border-radius: 0;
}

#entry:selected {
  background-color: #fdf6e3;
}

#text:selected {
  color: #002b36;
}
